/* ================================
    Form Styles
   ================================ */

textarea {
  resize: none;
}

button {
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #4aaaa5;
  padding: 10px 25px;
  border: none;
  transition: background-color 0.4s ease-out;
  cursor: pointer;
}

button:hover {
  background-color: #24847f;
}

section div {
  padding-top: 0;
}

@media (min-width: 768px) {
  section div {
    padding-top: 0;
  }
}